<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nicola Placentino">
    <title>Carosello</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <main class="container flex" id="root">
        <section id="carousel" class="carousel">
            <figure v-for="(game, i) in games" :class="{'active' : i === currentActiveIndex}" class="carousel-figure p-relative">
                <img :src="game.image" :alt="game.title">
                <figcaption class="p-absolute">
                    <h3>{{game.title}}</h3>
                    <p>{{game.text}}</p>
                </figcaption>
            </figure>
        </section>
        <section class="p-relative">
            <div id="prev" v-on:click="modifyCurrentActiveIndex('prev')" class="absolute"><i class="fa-solid fa-lg fa-angle-up"></i></div>
            <div id="thumbnails" class="thumbnail">
                <figure v-for="(game, i) in games" :class="{'active' : i === currentActiveIndex}" v-on:click="currentActiveIndex = i" class="thumbnail-figure">
                    <img :src="game.image" :alt="game.title">
                </figure>
            </div>
            <div id="next" v-on:click="modifyCurrentActiveIndex('next')" class="absolute"><i class="fa-solid fa-lg fa-angle-down"></i></div>
        </section>
    </main>
</body>
</html>